<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tuhvatshin41Entities" connectionString="metadata=res://*/TuhvatshinModel41.csdl|res://*/TuhvatshinModel41.ssdl|res://*/TuhvatshinModel41.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-7;initial catalog=Tuhvatshin41;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>