<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tuhvatshin41Entities" connectionString="metadata=res://*/TuhvvatshinModel41.csdl|res://*/TuhvvatshinModel41.ssdl|res://*/TuhvvatshinModel41.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-7;initial catalog=Tuhvatshin41;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>